<section class="detail" [ngClass]="{ 'detail--loaded': loaded }">
  <div class="detail-close-box" (click)="close()">
    <span>&times;</span>
  </div>
  <div class="detail-content">
    <span class="detail-content__close" (click)="close()">&times;</span>
    <div class="detail-content__centered">
      <div class="detail-content__title">
        <h2>{{ project.title }}</h2>
        <p>
          {{ project.subtitle }}
        </p>
      </div>
    </div>
    <img [src]="project.imagePath" class="detail-content__image" />
    <div class="detail-content__centered">
      <div
        class="detail-content__description"
        [innerHTML]="project.body | keepHtml"
      ></div>
      <app-detail-form></app-detail-form>
    </div>
  </div>
</section>
