.detail {
  display: flex;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  &--loaded .detail-content,
  &--loaded .detail-close-box {
    transform: scaleX(1);
  }
}

.detail-close-box {
  position: relative;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
  width: 35%;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  span {
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    opacity: 1;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

.detail-content {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) -8px 0px 30px 0px;
  height: 100%;
  overflow: auto;
  padding: 68px 40px;
  position: relative;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.3s ease-in-out;
  width: 65%;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }

  &__close {
    cursor: pointer;
    font-size: 3rem;
    opacity: 1;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__centered {
    margin: auto;
    width: 66.67%;

    @media only screen and (max-width: 575px) {
      width: 100%;
    }
  }

  &__title {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 575px) {
        font-size: 2rem;
      }
    }

    p {
      margin: 0;
    }
  }

  &__image {
    display: block;
    margin-top: 60px;
    width: 100%;

    @media only screen and (max-width: 575px) {
      margin-top: 30px;
    }
  }

  &__description {
    margin-top: 60px;

    @media only screen and (max-width: 575px) {
      margin-top: 30px;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;

    @media only screen and (max-width: 575px) {
      font-size: 1rem;
    }
  }
}
