<section class="detail" [ngClass]="{ 'detail--loaded': loaded }">
  <div class="detail-close-box" (click)="close($event)">
    <span>&times;</span>
  </div>
  <div class="detail-content">
    <div class="detail-content__centered">
      <div class="detail-content__title">
        <h2>Help Ice Bear To Fight!</h2>
        <p>
          Ice Bear not quiet! Ice Bear and We Bare Bears Team Ready To Fight!
        </p>
      </div>
    </div>
    <img
      src="../../../assets/images/we-bare-bears.jpg"
      class="detail-content__image"
    />
    <div class="detail-content__centered">
      <div class="detail-content__description">
        <p>
          The Bears are an adoptive family of three bears of separate species
          and are the face of the Cartoon Network original series We Bare Bears.
          The family includes the three main characters: Grizzly, Panda, and Ice
          Bear, each having their own personalities, interests and talents.
          They've been together ever since they were young cubs, as first
          revealed, unofficially, in the web comic The Three Bare Bears and the
          Pilot, and officially in the episode "Burrito".
        </p>
        <p>
          When traveling as a stack, they usually form with Grizzly on top,
          Panda in the middle, and Ice Bear on the bottom, in accordance with
          their respective ages.
        </p>
        <p>
          Though it is unknown how they met, it is known that they have been
          together since very early childhood. The only known information about
          the bears before they met is that Grizzly was born in a forest in the
          U.S and was found perched on a tree by park rangers while in distress.
          He was afterward adopted by a TV Network to star in Family Troubles, a
          Canadian Sitcom; Panda was originally from China and raised in
          captivity until he escaped the facility; and Ice Bear came from the
          Russian Arctic and was raised by Yuri until he was forced to leave him
          on a floating iceberg after being chased off by hunters.
        </p>
      </div>
      <app-detail-form></app-detail-form>
    </div>
  </div>
</section>
