<section class="slider">
  <swiper [config]="swiperConfig">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-color: #42a5f5;">
        <div class="slider__container">
          <div class="slider__content slider__content--half">
            <img src="../../../assets/images/ice-bear.png" alt="" />
          </div>
          <div
            class="slider__content slider__content--half slider__content--text-right"
          >
            <h2>Help Ice Bear To Fight!</h2>
            <p>
              Ice Bear not quiet! Ice Bear and We Bare Bears Team Ready To
              Fight!
            </p>
            <a href="#" class="slider__project-info">
              Click for Project Info <span></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url('../../../assets/images/wwf-polar-bear.jpg')"
      ></div>
      <div class="swiper-slide" style="background-color: green;"></div>
    </div>
  </swiper>
</section>
