.home {
  background: #fff;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(1);
  transform-origin: right center;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 9999;

  &--loaded {
    transform: scaleX(0);
  }
}
