<div class="detail-form">
  <h3>Take Action</h3>
  <form action="">
    <input type="text" placeholder="*Full name" />
    <input type="email" placeholder="*Email" />
    <input type="text" placeholder="*Country" />
    <button type="submit">Act now</button>
    <span>*Required field to fill in</span>
  </form>
  <div class="goal-progress-wrapper"><div class="goal-progress"></div></div>
  <div class="goal-progress-text">
    <span>375,386</span> people have had their say. Help us reach
    <span>400,000</span> citizens!
  </div>
</div>
