* {
  box-sizing: border-box;
}

body {
  color: #1d1d1d;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.swiper-pagination-bullet {
  height: 16px !important;
  width: 16px !important;

  @media only screen and (max-width: 575px) {
    height: 12px !important;
    width: 12px !important;
  }
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}
